.FeaturedNovelBox{
    min-width: 180px;
    text-align: center;
}

::-webkit-scrollbar {
   
    width:0.2px;
    height: 5px;
    
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  